{% extends 'base.html' %} {% block content %}

<div class="d-flex flex-column">
  <a
    type="button"
    style="width: 15%"
    class="mt-3 btn btn-dark"
    href="{{route('project_create', {'id': workspace.id})}}"
  >
    Create project
  </a>

  <div style="margin-top: 20px" class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{workspace.name}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        {{workspace.description}}
      </h6>
      <p class="card-text">Date: {{workspace.created_at}}</p>
    </div>
  </div>

  {% for p in workspace.projects %}

  <div class="card text-bg-success mb-3" style="max-width: 18rem">
    <div class="card-header">{{p}}</div>
    <div class="card-body">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

{% endfor %} {% endblock content %}
